In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('homepage_actions.csv')

In [2]:
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8188 entries, 0 to 8187
Data columns (total 4 columns):
timestamp    8188 non-null object
id           8188 non-null int64
group        8188 non-null object
action       8188 non-null object
dtypes: int64(1), object(3)
memory usage: 256.0+ KB

In [4]:
df.timestamp = pd.to_datetime(df.timestamp)

**Quiz1**

In [5]:
df.action.count()

8188

In [12]:
df.id.nunique()

6328

In [13]:
df.query('group == "experiment"').id.nunique()

2996

In [17]:
df.query('group == "control"').id.nunique()

3332

**Quiz2**

In [9]:
(df.timestamp.max() - df.timestamp.min()).days/30

3.8333333333333335

**Quiz3**

In [10]:
df.action.value_counts()

view     6328
click    1860
Name: action, dtype: int64